body {
    background-color: #f1f1f1 !important;
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: "Figtree", serif !important;
}

:root {
  --girapurp: #443488;
  --girafush: #932D7D;
  --girapink: #DD1D73;
}

hr{
    margin: 3rem 0 3rem 0 !important;
}

.big-title{
    font-size: 10rem;
}

.projects{
    margin: 5rem 3rem 0 3rem;
}

.tasks{
    margin: 3rem 3rem 0 3rem;
}

.projects-nav, .tasks-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.project-wrapper, .task-wrapper {
    display: flex;
    flex-direction: row;
    overflow: scroll;
}

.project{
    display: flex;
    margin-right: 1rem;
}

.header-project{
    background-color: #932D7D !important;
    color: white !important;
}

.header-task{
    background-color: #DD1D73 !important;
    color: white !important;
}

.cta{
    background-color: #443488 !important;
    color: white !important;
}

.centered-wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.nav-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.separator{
    margin-left: 10px;
    margin-right: 10px;
}

.img-login-wrapper {
    border-radius: 5px 0 0 5px;
    overflow: hidden;
}

.username{
    margin: 0;
}

.custom-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
}

#form-style{
    background-color: lightgray;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.error-message {
    background-color: #f8d7da; /* Bootstrap's red error color */
    color: #721c24; /* Bootstrap's red error text color */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    clear:both;
}

.titling{
    height: 13rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

#form-style{
    background-color: #0A5;
    border-radius: 10px;
    color : white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.error-message {
    background-color: #f8d7da; /* Bootstrap's red error color */
    color: #721c24; /* Bootstrap's red error text color */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    clear:both;
}

.header {
    position: fixed; /* Fixed position */
    top: 0; /* Fixed at the top */
    left: 0; /* Align to the left */
    width: 100%; /* Take full width of the viewport */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #0A5;
    color: white;
}


.user-name {
    margin-left: 10px;
}

.logout-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 10px
}

.logout-button img {
    width: 24px;
    height: 24px;
}

.content-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
}

.content-card header {
    font-size: 18px;
    background-color: #0A5;
    font-weight: bold;
}

.content-card .body {
    margin-top: 5px;
}

