@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

body {
    background-color: #f1f1f1 !important;
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: "Figtree", serif !important;
}

:root {
  --girapurp: #443488;
  --girafush: #932D7D;
  --girapink: #DD1D73;
}

hr{
    margin: 3rem 0 3rem 0 !important;
}

.emoji{
    font-size: 18px;
    position: relative;
}

span{
    color: gray;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.cta{
    background-color: #443488 !important;
    color: white !important;
    overflow: hidden !important;
}

.cta-back{
    border: 2px solid #DD1D73 !important;
    color: #DD1D73 !important;
    overflow: hidden !important;
}

.cta-back:hover{
    background-color: #DD1D73 !important;
    color: white !important;
    overflow: hidden !important;
}

.cta-container{
    margin-top: 2rem;
    width: 100%;
}

.cta-create{
    background-color: #443488 !important;
    color: white !important;
    overflow: hidden !important;
    width: 15vw;
}

.cta-create:hover{
    background-color: #735dd3 !important;
    color: white !important;
    overflow: hidden !important;
    width: 15vw;
}

.big-title{
    font-size: 10rem;
}

textarea .desc-area{
    height: 50vh;
}

/* ---------------------------- SECTIONS ---------------------------- */

.projects{
    margin: 5rem 3rem 0 3rem;
}

.tasks{
    margin: 3rem 3rem 0 3rem;
}

.formulaire{
    padding: 5rem 3rem 0 3rem;
    height: 100%;
}

.section-title{
    margin-bottom: 2rem;
}

.form-floating>.form-control:not(:placeholder-shown) {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.user-choice{
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* ---------------------------- SECTIONS HEADERS ---------------------------- */

.projects-nav, .tasks-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

/* ---------------------------- SECTIONS CONTAINERS ---------------------------- */

.project-wrapper, .task-wrapper {
    display: flex;
    flex-direction: row;
    overflow: scroll;
}

.project{
    display: flex;
    margin-right: 1rem;
}

.header-project{
    background-color: #932D7D !important;
    color: white !important;
}

.header-task{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.centered-wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.nav-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.separator{
    margin-left: 10px;
    margin-right: 10px;
}

.vr{
    padding: 0 !important;
}

.img-login-wrapper {
    border-radius: 5px 0 0 5px;
    overflow: hidden;
}

.username{
    margin: 0;
}

.custom-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
}

#form-style{
    background-color: lightgray;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.error-message {
    background-color: #f8d7da; /* Bootstrap's red error color */
    color: #721c24; /* Bootstrap's red error text color */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    clear:both;
}

.titling{
    height: 13rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

#form-style{
    background-color: #0A5;
    border-radius: 10px;
    color : white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.error-message {
    background-color: #f8d7da; /* Bootstrap's red error color */
    color: #721c24; /* Bootstrap's red error text color */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    clear:both;
}

.header {
    position: fixed; /* Fixed position */
    top: 0; /* Fixed at the top */
    left: 0; /* Align to the left */
    width: 100%; /* Take full width of the viewport */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #0A5;
    color: white;
}


.user-name {
    margin-left: 10px;
}

.logout-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 10px
}

.logout-button img {
    width: 24px;
    height: 24px;
}

.content-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
}

.content-card header {
    font-size: 18px;
    background-color: #0A5;
    font-weight: bold;
}

.content-card .body {
    margin-top: 5px;
}

.tag {
    display: inline-block;
    padding: 2px 8px;
    border-radius: 20px;
    color: white;
    font-size: 14px;
    padding-bottom: 3px;
}

.tag-planifiee {
    background-color: #ff7e5e;
}

.tag-en-cours {
    background-color: #00b2ff;
}

.tag-realisee {
    background-color: #00be54;
}

.tag-validee {
    background-color: #004804;
}

.tag-pause {
    background-color: #8E44AD;
}

.tag-erreur {
    background-color: #808B96;
}

footer{
    background-color: #f1f1f1 !important;
    padding: 0 1rem 0 1rem;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100vw;
    height: 40px;
    position: fixed;
    border-top: 1px solid lightgray;
    font-weight: lighter;
    font-size:14px;
    color: grey;
    bottom: 0;
}

