{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Connexion</title>
</head>
<body>
    <div class="centered-wrapper">
        <form id="form-style" action="" method="post">
            {% csrf_token %}
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required><br>

            <label for="password">Mot de passe:</label><br>
            <input type="password" id="password" name="password" required><br>

            <input type="submit" value="Connexion">
        </form>
        <div class="error-message">
            {% if error %}
                <p>{{error}}</p>
            {% endif %}
        </div>
    </div>
</body>
</html>
